name: _job_build

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      cflags:
        required: true
        type: string
      configure:
        required: false
        type: string
        default: ''

jobs:
  proton:
    name: Build ${{ inputs.name }}
    runs-on: ubuntu-latest
    steps:

    - name: Prepare host
      run: sudo apt update && sudo apt-get install -y ccache fontforge-nox

    - name: Cache identifier
      id: ccache-id
      run: |
        checksum=$(echo "${{ inputs.cflags}} ${{ inputs.configure }}" | sha1sum | cut -d' ' -f1)
        echo "checksum=$checksum" >> $GITHUB_OUTPUT

    - name: Restore cache
      id: ccache-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.ccache
        key: ccache-proton-${{ steps.ccache-id.outputs.checksum }}-${{ github.run_id }}
        restore-keys: |
          ccache-proton-${{ steps.ccache-id.outputs.checksum  }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: false

    - name: Patch
      run: |
        git submodule update --init --filter=tree:0 --recursive
        mkdir ./build

    - name: Configure
      working-directory: ./build
      env:
        CFLAGS: ${{ inputs.cflags }}
        RUSTFLAGS: -Copt-level=3 -Ctarget-cpu=nocona
        USE_LTO: 0
      run: |
        ../configure.sh --build-name=${{ inputs.name }} --container-engine=docker ${{ inputs.configure }}

    - name: Make ${{ inputs.name }}
      working-directory: ./build
      run: |
        make redist

    - name: Save cache
      id: ccache-save
      if: always()
      uses: actions/cache/save@v4
      with:
        path: ~/.ccache
        key: ${{ steps.ccache-restore.outputs.cache-primary-key }}

    - name: Upload artifact ${{ inputs.name }}.tar.xz
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}.tar.xz
        path: ./build/${{ inputs.name }}.tar.xz

    - name: Upload artifact ${{ inputs.name }}.sha512sum
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.name }}.sha512sum
        path: ./build/${{ inputs.name }}.sha512sum

