name: Build Proton

on:
  workflow_dispatch:
  push:
    branches:
      - dwproton-dev

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Debloat GitHub CI
      uses: endersonmenezes/free-disk-space@v2
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        testing: false
    
    - name: Prepare host
      run: sudo apt update && sudo apt-get install -y ccache fontforge-nox

    - name: Restore cache
      id: ccache-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.ccache
        key: ccache-proton-${{ github.run_id }}
        restore-keys: |
          ccache-proton-

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: false

    - name: Patch
      run: |
        git submodule update --init --filter=tree:0 --recursive
        mkdir ./build
    
    - name: Configure
      working-directory: ./build
      env:
        RUSTFLAGS: -Copt-level=3 -Ctarget-cpu=nocona
        USE_LTO: 0
      run: |
        ../configure.sh --build-name=dwproton-dev --enable-ccache --container-engine=docker --without-nvidia-libs --without-tts

    - name: Make Proton
      working-directory: ./build
      run: |
        make -j$(nproc) redist

    - name: Save cache
      id: ccache-save
      if: always()
      uses: actions/cache/save@v4
      with:
        path: ~/.ccache
        key: ${{ steps.ccache-restore.outputs.cache-primary-key }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dwproton-dev.tar.xz
        path: ./build/dwproton-dev.tar.xz

    - name: Upload artifact dwproton-dev.sha512sum
      uses: actions/upload-artifact@v4
      with:
        name: dwproton-dev.sha512sum
        path: ./build/dwproton-dev.sha512sum
